.form
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    width: 70%
    height: 80%
    min-height: 500px
    background-color: $formBGColor
    border: 2px solid $formBorderColor
    border-radius: 15px
    @include desktop
        width: 90%
        @include tabletGRZ
            width: 100%;
            border: 0
            border-radius: 0
    @include laptop
        width: 97%
        @include smartphoneGRZ
            width: 100%;
            border: 0
            border-radius: 0
    @include tablet
        width: 100%;
        border: 0
        border-radius: 0


.form__wrapper
    margin: 20px
    @include laptop
        margin: 15px 10px
    @include smartphone
        margin: 10px 3px

.form__title
    line-height: 30px
    margin-bottom: 30px
    @include tablet
        text-align: center

.form__form
    display: flex
    flex-direction: column
    width: 100%
    height: 100%

.form__block
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    margin: 0 30px 15px
    &:last-child
        margin: 0 30px
    @include laptop
        margin: 0 15px 15px;
        &:last-child
            margin: 0 15px
    @include tablet
        flex-direction: column;
    @include smartphone
        margin: 0 5px 15px;

.form__label
    display: flex
    justify-content: space-between
    align-items: center
    position: relative
    width: 48%
    margin-bottom: 30px
    &::after
        content: ""
        display: block
        width: 100%
        height: 1px
        background-color: $formBorderColor
        position: absolute
        bottom: -7px
        left: 0
    @include tablet
        width: 100%

.form__label_checkbox
    width: 35%
    @include tablet
        width: 75%

.form__subtitle
    position: relative
    margin-right: 20px
    @include smartphone
        font-size: 15px
    @include phone
        width: min-content;

.form__subtitle_required
    &::after
        content: "*"
        display: block
        position: absolute
        top: -2px
        right: -9px
        color: $mainRed


.form__input
    width: 50%
    height: fit-content
    border: 1px solid transparent
    border-radius: 3px
    outline-color: $mainRed
    padding: 5px 10px
    transition: $transitionDuration
    &:hover
        background-color: $inputBGColorHover
    @include laptop
        width: 48%

.form__input_checkbox
    width: fit-content

.form__input_radio
    width: fit-content
    margin-right: 40px

.form__input_block
    display: flex
    width: 50%
    padding: 5px 20px 5px 0;
    @include laptop
        padding: 5px 12px 5px 0;

.form__subtitle_small
    margin-right: 10px

.form__select_client
    width: 54%
    background-color: $selectBGColor
    @include tablet
        width: 52%

.form__input_small
    margin-right: 40px
    @include smartphone
        margin-right: 15px;

.form__button_wrapper
    width: 100%
    display: flex
    justify-content: space-between

.form__label_error
    &::after
        background-color: $errorColor
    &::before
        content: "Поле обязательное для заполнения"
        display: block
        position: absolute
        bottom: -21px
        left: 0
        font-size: $errorFortSize
        color: $errorColor

.form__label_error_length
    &::after
        background-color: $errorColor
    &::before
        content: "Введите правильный телефон. Номер должен начинаться с '7'"
        display: block
        position: absolute
        bottom: -21px
        left: 0
        font-size: $errorFortSize
        color: $errorColor

.form__input_error
    border: 1px solid $errorColor
    &::placeholder
        color: $errorColor

.form__notice
    font-size: $noticeFontSize
    color: $errorColor
    margin-bottom: 20px;